<% provide(:title, "Edit Dog") %>

<section class="page">
<div class="container">
<div class="row">

<h1>Editing Dog</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @dog %> |
<%= link_to 'Back', user_path(current_user) %>

</div>
</div>
</section>