<% provide(:title, "New Dog") %>

<section class="page">
<div class="container">
<div class="row">

<h1>New Dog</h1>

<%= render 'form' %>

<%= link_to 'Back', current_user %>

</div>
</div>
</section>