<section class="page">
    <div class="container">
        <div class="row">
            <%= render partial: 'mailbox/folder_view', locals: { is_conversation: true } %> 
        </div>
    </div>
</secion>