<!--We can develop this page if we decide to display dogowners and walkers separately-->


<!--    <tbody>-->
<!--    < % @user.each do |user| %>-->
    <!--if user.-->
<!--        <tr>-->
<!--            <td>< %= user.first_name %></td>-->
<!--            <td>< %= user.last_name %></td>-->
<!--            <td>< %= user.email %></td>-->
            <!--<td>< %= gravatar_for user %></td>  <!-- Image -->-->
<!--            <td> < %= link_to 'View', usershow_path(user) %></td>?-->

<!--        </tr>-->
<!--    < % end %>-->
<!--    </tbody>-->
<!--</table>-->