<% provide(:title, "Privacy Policy") %>

<section class="page">
<div class="container">
<div class="row">
    
<h1>Privacy Policy</h1>
    
    <p>Last updated: July 12, 2016</p>
    <br />
    
    <p>
    What information do we collect?
    </p>
    <p>
        <ul>
            <li>We collect the information you share with us when you sign up and/or update your profile (name, email, address, and such).</li>
            <li>We take precautions to prevent unauthorized access.</li>
        </ul>
    </p>    
    <br />
    
    <p>
    How do we use this information?
    </p>
    <p>
        <ul>
            <li>The data we collect is used to provide and improve our services. </li>
            <li>We use your information to respond to you when you contact us, or to inform you of changes related to the services we provide.</li>
            <li>We do not share your information with third parties of any kind.</li>
            <li>We do not send you unsolicited communications for marketing purposes.</li>
            <li>We do not run ads and do not engage in cross-marketing.</li>
        </ul>
    </p>
    <br />
    
    <p>
    How can you manage or delete information about yourself?
    </p>
    <p>
        <ul>
            <li>You can manage your personal information through your profile page.</li>
            <li>We will store you information for as long as you remain a registered user.</li>
            <li>You can delete your profile at any moment.</li>
        </ul>
    </p>
    <br />
    
    <p>
    How will we notify you of changes to this policy?
    </p>
    <p>
        <ul>
            <li>We’ll notify you before we make changes to this policy and give you the opportunity to review and comment on the revised policy before continuing to use our services.</li>
      
        </ul>
    </p>
    <br />
    
    <p>
    Have any questions?
    </p>
    <p>
        <ul>
            <li>Please contact us <%= link_to 'here', "/contact_us" %>.</li>
        </ul>
    </p>
    <br />
    
</div>
</div>
</section>
