<% provide(:title, "Messages") %>

<div class="container">
  
<br /><br />

<h1>Messages</h1>

<table style="border:1px; border-color:black;border-style: solid;">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Message</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.message %></td>
        <!--<td>< %= link_to 'Show', contact %></td>-->
        <!--<td>< %= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure you want to delete this message?' } %></td>-->
      </tr>
    <% end %>
    
  </tbody>
</table>

</div>