<% provide(:title, "Edit Post") %>

<section class="page">
<div class="container">
<div class="row">

<h1>Editing Post</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @post %> |
<%= link_to 'Back', posts_path %>

</div>
</div>
</section>