<% provide(:title, "New Post") %>

<section id="form-section">
<div class="container">
<div class="row">
<div class="col-md-6">

<h1>New Post</h1>

<%= render 'form' %>

<div class="col-md-6 text-right">
<%= link_to 'Back', posts_path, :class=>"back-btn" %>
</div>

</div>
</div>
</div>
</section>