<% provide(:title, "New Post") %>

<section class="page">
<div class="container">
<div class="row">

<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>

</div>
</div>
</section>