.page {
  padding: 100px 0 100px 0;
}

#search, #distance, #location{
  width: 300px;
}


/* user and dog profile */
#user-type-profile{
  margin-top: -10px;
  font-style: italic;
}
#dog_gender {
  height: 40px;
  width: 100%;
}

/* events, calendar, post stuff */

#event-det, #post-det {
  margin-left: 2em;
}

h1.post-title {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 2em;
}

.show-post-content {
  font-size: 2em;
  margin: 1em 0em;
}

#post-meta {
  font-style: italic;
  font-size: 10px;
}

#post-btn-margin-top {
  margin-top: 4em;
}


/* posts (bulletin) table */

.bulletin {
  /*height: 200px;*/
  margin: 1em 5em;
  padding-left: 2em   ;
}
.bulletin:hover {
  background: #ddd;
}
#bulletin-page a, .bulletin a {
  text-decoration: none;
  color: black;
}
.content-box-left, .content-box-right {
  display: inline-block;
}
.content-box-left, .content-box-right {
  /*height: 200px;*/
  padding: 10px 0px;
}
.content-box-left .user-box-frame {
  /*height: 170px;*/
}
.user-box-img{
  height: 120px;
  width: 120px;
  display: inline-block;
  position: relative;
}
.content-box-left .user-box-name {
  height: 20px;
  text-align: center;
  font-weight: bold;
}
.content-box-right {
  position: relative;
  vertical-align: top;
  margin-left: 20px;
}
.content-box-right .content-title {
  color: #337ab7;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: -10px;
}
.meta-content {
  background-color: #337ab7;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.post-content {
  margin-top: 1em;
  max-width: 630px;
}

/* new posts and events */

.back-btn {
  line-height: 65px;
}

/* input fields and buttons customization */

input, .a-btn {
  height: 40px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  color: black;
  text-shadow: none;
  font-weight: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 1px;
  border: 1px solid rgba(111, 121, 122, 0.3);
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="submit"] {
  background: #414141;
  color: white;
  font-size: 13px;
  border: 1px solid #ccc;
  height: 40px;
  text-shadow: none;
  font-weight: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 1px;
  border: 1px solid rgba(111, 121, 122, 0.3);
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="submit"]:hover {
  background: black;
}

input[type="submit"]:active {
  background: #414141;
}

.a-btn {
  text-decoration: none;
  line-height: 40px;
  margin-top: 1em;
  padding: 1em;
}
.a-btn:hover {
  text-decoration: none;
  color: black;
  background-color: #ddd;
}

select {
  padding: 6px 12px;
}

/* mailbox & paginate */

a.btn {
  text-decoration: none;
  color: white;
}
.spacer {
  height: 15px;
}
.nav > li > a {
  text-decoration: none;
}
.section > div, .panel > div {
  padding: 15px 15px 15px 15px;
}
.comp-btn{
  height: 71px;
  line-height: 71px;
  vertical-align: middle;
}

.pag-spec {
  margin: 0px;
  padding: 0px;
}
#pag-input-inline {
  height: 79px;
  line-height: 79px;
  vertical-align: middle;
}
.search {
  color: white;
  vertical-align: middle;
  height: 79px;
  line-height: normal;
}

/* USER DISPLAY */

#users {
  padding: 1.5em 3em 3em 3em;
  text-align: center;
}
#user-one {
  padding: 1.5em;
  display: inline-block;
  text-align: center;
}
#users a,
#user-one a {
  text-decoration: none;
  color: black;
}
#user-one:hover{
  background-color: #DDD;
}
#user-name {
  padding-top: 5px;
}
  /* https://jsbin.com/lidebapomi/edit?html,css,output */
  #user-pic {
    height: 150px;
    width: 150px;
    display: inline-block;
    position: relative;
  }
  #user-pic img, .user-box-img img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }


/* login and signup related */
.field {
  padding-top: 1em;
}

form .buttons, form .actions {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#tick-box-div {
  display: flex;
  padding-top: 1em;
}

#tick-box-r {
  padding: 1em;
}

#right-side-center {
  padding-top: 200px;
}

.big-text {
  text-size: 18px;
}
.small-text {
  text-size: 2em;
}

/* copied */

section h2.section-heading0-agency {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading-agency {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

/* CSS TIMELINE FOR HOMEPAGE */

#h4-step-text {
  color: black;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}