<% provide(:title, "Edit Review") %>

<section class="page">
<div class="container">
<div class="row">

<h1>Editing Review</h1>

<%= render 'form' %>

<%= link_to 'Cancel', user_path(@review.receiver_id) %>
<!--< %= link_to 'Delete', user_path(@review.receiver_id), :confirm => "'Are you sure?", :method => :delete  %>-->

</div>
</div>
</section>