<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="copyright">Copyright &copy; Hiker</span>
            </div>
        </div>
    </div>
</footer>