<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="copyright">Copyright &copy; Doggie Walk 2016</span>
            </div>
            <div class="col-md-8">
                <ul class="list-inline quicklinks">
                    <li>
                        <%= link_to 'Privacy Policy', "/privacy" %>
                    </li>
                    <li>
                        <%= link_to 'Terms of Service', "/terms" %>
                    </li>
                    <li>
                        <%= link_to 'Contact Us', "/contact_us" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>